<div id="about-me" data-role="content" class="ui-body-a no-padding">
	<div class="ui-grid-a">
		<div class="ui-block-a grid-about">
			<h2 class="gray">Upcoming Events</h2>
		</div>
		<div class="ui-block-b grid-music">
			<h2 class="gray">Press</h2>
		</div>
		<div class="ui-block-c grid-character">
			<h2 class="gray">Shows and Participations</h2>
		</div>
		<div class="ui-block-d grid-interests">
			<h2 class="gray">Top Fans</h2>
		</div>
	</div>

	<div class="grid-avatar">
		<% if @user.avatar? %>
            <%= link_to(image_tag(@user.avatar(:avatar)), profile_path(@user), class: 'smooth-image') %>
        <% else %>
	        <%= link_to(image_tag(@user.default_avatar), profile_path(@user), class: 'smooth-image') %>
        <% end %>
	</div>
</div>