<div id="container" data-role="content" class="no-padding">
	<div id="artist-background" style="background-image: url('<%= asset_path('sempiternal.png') %>');">
		<div id="parallelograms-left">
			<div class="parallelogram-left-top">
			</div>
			<div class=""></div>
			<div class="parallelogram-left-bottom">
			</div>
			<div class="parallelogram-left-content">
				<% if @user.avatar? %>
		            <%= link_to(image_tag(@user.avatar(:avatar)), profile_path(@user), class: 'smooth-image medthumb') %>
		        <% else %>
			        <%= link_to(image_tag(@user.default_avatar), profile_path(@user), class: 'smooth-image medthumb') %>
		        <% end %>
				<h2>#31, BG</h2>
				<h4><%= @user.genre %></h4>
			</div>
		</div>
	</div>
</div>




<% if false %>
<div id="container" data-role="content" class="no-padding">
<div id="flipbook" data-role="none">
	<div class="hard"> Turn.js </div>
	<div class="hard"></div>
	<div> Page 1 </div>
	<div> Page 2 </div>
	<div> Page 3 </div>
	<div> Page 4 </div>
	<div class="hard"></div>
	<div class="hard"></div>
</div>
<script type="text/javascript">
$("#flipbook").turn({
    width: 400,
    height: 300,
    autoCenter: true
});
</script>
</div>
<% end %>