<% content_for :heading do %>
	<a href="#sidebar" data-position="inline" class="ui-btn-left" data-icon="home">Menu</a>
	<h1>&raquo; <%= @user.profile_name %> &laquo;</h1>
	<a href="#notifications" data-role="button" data-position="inline" data-icon="star">Notifications</a>
<% end %>

