<% content_for :heading do %>
  <h1>Editing My Profile</h1>
<% end %>

<div id="container" data-role="content" data-enhance="false" class="form-register-edit">
	
    <%= render "#{@user.role}" %>
	
</div>