<% content_for :heading do %>
  <a href="#sidebar" data-position="inline" class="ui-btn-left" data-icon="home">Menu</a>
  <h1>Editing My Profile</h1>
<% end %>

<div id="container" data-role="content">
	
    <%= render "#{@user.role}" %>
	
</div>