<% content_for :heading do %>
	<a href="#" data-role="button" data-rel="back" data-direction="reverse" data-icon="back">Back</a>
	<h1>Editing '<%= @album.title %>' album</h1>
<% end %>

<%= render 'form' %>
