<% content_for :heading do %>
	<a href="#" data-role="button" data-rel="back" data-direction="reverse" data-icon="back">Back</a>
	<h1>Editing '<%= @album.title %>' album</h1>
<% end %>

<%= simple_form_for(@album) do |f| %>
<%= f.input :title, input_html: { rows: 1, class: 'input-xxlarge large-text' } %>
<button type="submit" data-theme="b" data-position="inline" data-icon="check">Edit Album Title</submit>
<% end %>
