<% content_for :heading do %>
	<a href="#" data-role="button" data-rel="back" data-direction="reverse" data-icon="back">Back</a>
	<h1>New album</h1>
<% end %>
<h1>New album</h1>

<%= render 'form' %>

<%= link_to 'Back', albums_path %>
