<% content_for :heading do %>
  <a href="#" data-role="button" data-rel="back" data-direction="reverse" data-icon="back">Back</a>
  <h1> <%= @album.title %> &raquo; Upload picture</h1>
<% end %>
<h1>New picture</h1>

<%= render 'form' %>

<%= link_to 'Back', album_pictures_path(@album) %>
