<% content_for :heading do %>
  <h1> <%= @album.title %> &raquo; Upload picture</h1>
<% end %>


<div id="container" data-role="content">
	<p class="gray">Hint: <em>Uploading and Editing pictures may cause music playback interruptions</em>.</p>
	<p class="text-center">Pictures must be either .jpg , .png or .gif and less than 7 mb (for now).</p>
	<%= render 'form' %>
</div>
