<% content_for :heading do %>
  <a href="#" data-role="button" data-rel="back" data-direction="reverse" data-icon="back">Back</a>
  <h1> <%= @album.title %> &raquo; Upload picture</h1>
<% end %>
<p>Hint: <em>Uploading and Editing pictures may cause music playback interruptions</em>.</p>
<%= render 'form' %>
