<% content_for :heading do %>
  <h2>Slideshow</h2>
<% end %>


<div data-role="content" id="contentSlider">
  <div id='mySwipe' style='min-width:500px; margin:0 auto' class='swipe'>
      <div class='swipe-wrap'>
          <div><b>1</b>
          </div>
          <div><b>2</b>
          </div>
          <div><b>3</b>
          </div>
      </div>
  </div>
  <div style='text-align:center;padding-top:20px;'>
      <button onclick='mySwipe.prev()'>prev</button>
      <button onclick='mySwipe.next()'>next</button>
  </div>
</div>

<script type="text/javascript">
  var elem = document.getElementById('mySwipe');
window.mySwipe = Swipe(elem, {
  // startSlide: 4,
  // auto: 3000,
  // continuous: true,
  // disableScroll: true,
  // stopPropagation: true,
  // callback: function(index, element) {},
  // transitionEnd: function(index, element) {}
  // you can leave out these comments.
});
</script>

<% if false %>
<div id="slideshow" data-role="content" class="no-padding">
  
  <div id='mySwipe' style='max-width:500px;margin:0 auto' class='swipe'>
    <div class='swipe-wrap'>
      <% @pictures.each do |picture| %>
        <div><%= image_tag(picture.asset.url(:hd)) %></div>
      <% end %>
    </div>
  </div>

  <div id='slider' class='swipe'>
    <div class='swipe-wrap'>
      <% @pictures.each do |picture| %>
        <div>
          <%= image_tag(picture.asset.url(:hd)) %>
        </div>
      <% end %>
    </div>
  </div>

  <div style='text-align:center;padding-top:20px;'>
    
    <button onclick='mySwipe.prev()'>prev</button> 
    <button onclick='mySwipe.next()'>next</button>

  </div>

</div>

<script type="text/javascript">
var elem = document.getElementById('mySwipe');


window.mySwipe = Swipe(elem, {
    continuous: true
  
});
</script>


<script type="text/javascript">

// outside ready function so that buttons still have a var to attach function calls to like slider.next()
var slider;

// process AFTER jquery mobile. 
// i "think" the problem that somehow jquery mobile stops swipejs from detecting the width of the div (in the setup function) 
$(document).ready(function(){

    slider = new Swipe(document.getElementById('myslider'), {
        callback: function(e, pos) {  
             // some callback code here
        }
    });

});
</script>
<% end %>