
	// Backgrounds
$background-color-light: #eee;
$background-color-dark: #141414;
$box-shadow: 0px 1px 5px #888888;
$box-shadow-inset: inset 0px 0px 10px black;

	// Fonts and colors

$color-light: #eee;
$color-dark: #141414;
$color-cyan: #00ccff;
$color-red: red;



.user-background {
	position: fixed;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    display:block;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    
}

.transparent-white {
	background-color: rgba(255,255,255,0.3);
	height: 100%;
}

/* HORIZONTAL CONTAINERS AND GALLERY */





ul.album-grid-list {
	width: 720px !important;
	column-width: 720px;
	-webkit-column-width: 720px;
	-moz-column-width: 720px;
}

/* Doesnt work for images, find a fix */
ul.album-grid-list * {
	column-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	margin: 0;
}

.album-pictures-grid-img {
	width: 100%;
	height: 12em;
	background-size: cover;
	background-position: center;
	padding: 1px;
	border: 1px solid black;
}

.album-pictures-grid-img img {
	width: 100%;
}

.album-grid-img {
	width: 720px;
	height: 19em;
	background-size: cover;
	background-position: center;
	padding: 0;
	border: 1px solid black;
}

.album-grid-img img {
	width: 100%;

}

.album-grid-overlay {
	position: relative;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	color: gray;
}

.album-grid-overlay-link {
	display: block;
	height: 100%;
	width: 100%;
}

.album-grid-overlay-link:hover {
	background: rgba(255,255,255,0.075);
	transition: 1s;
	-webkit-transition: 1s;
}

.album-grid-overlay-link-text {
	color: black;
	text-align: center;
	vertical-align: bottom;
}

.album-grid-overlay a {
	color: gray !important;
}



/* END OF HORIZONTALS */



.alert {
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
}



