.grid-about * {
	vertical-align: top;
	text-align: left;
}
.grid-music * {
	vertical-align: top;
	text-align: right;
}
.grid-character * {
	vertical-align: text-bottom;
	text-align: left;
}
.grid-interests * {
	vertical-align: text-bottom;
	text-align: right;
}

.grid-about {
	position: absolute;
	width: 45%;
	height: 50%;
	top: 0;
	left: 1em;
	text-align: left;
}

.grid-music {
	position: absolute;
	width: 45%;
	height: 50%;
	top: 0;
	right: 1em;

}

.grid-character {
	position: absolute;
	width: 45%;
	height: 50%;
	bottom: 0;
	left: 1em;

}

.grid-interests {
	position: absolute;
	width: 45%;
	height: 50%;
	bottom: 0;
	right: 1em;
}

.grid-avatar {
	position: absolute;
	width: 16%;
	height: 16%;
	top: 30%;
	left: 42%;
	right: 42%;
	bottom: 54%;
}

.grid-avatar img {
	border-radius: 100%;
}








