// PROFILE VIEW

#activityContent {
	left: 70%;
	background: rgb(238,238,238);
}

.horizontalBackground {
	width: 75%;
	z-index: -1;
	position: fixed;
	left: -30px;
	top: 0;
	bottom: 0;
	margin-left: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	@media(max-width:767px){
		display: none;
	}
}


// STREAM

.stream-background {
	width: 100%;
	min-height: 200px;
}



.grid-about * {
	vertical-align: top;
	text-align: left;
}
.grid-music * {
	vertical-align: top;
	text-align: right;
}
.grid-character * {
	vertical-align: text-bottom;
	text-align: left;
}
.grid-interests * {
	vertical-align: text-bottom;
	text-align: right;
}

.grid-about {
	position: absolute;
	width: 45%;
	height: 50%;
	top: 0;
	left: 1em;
	text-align: left;
	padding-right: 10%;
}

.grid-music {
	position: absolute;
	width: 45%;
	height: 50%;
	top: 0;
	right: 1em;
	padding-left: 10%;
}

.grid-character {
	position: absolute;
	width: 45%;
	height: 50%;
	bottom: 0;
	left: 1em;
	padding-right: 10%;
}

.grid-interests {
	position: absolute;
	width: 45%;
	height: 50%;
	bottom: 0;
	right: 1em;
	padding-left: 10%; 
}

.grid-avatar {
	position: absolute;
	width: 16%;
	height: 16%;
	top: 30%;
	left: 42%;
	right: 42%;
	bottom: 54%;
}

.grid-avatar img {
	border-radius: 100%;
}

#about-me h2 {

}

#profile-name {
	padding-left: 11%;
}

/* -------------- ARTIST PROFILE ------------- */

#artist-background {
	height: 100%;
	background-size: cover;
}


#parallelograms-left {
	height: 100%;
}

.parallelogram-left-top {
	position: absolute;
	left: -250px;
	width: 400px;
	height: 100%;
	-webkit-transform: skew(-27deg);
	-moz-transform: skew(-27deg);
	-o-transform: skew(-27deg);
	transform: skew(-27deg);
	background: url("broken_noise.png");
	opacity: 0.95;
	z-index: 2;
}

.triangle-left-top {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 500px solid red;
	border-right: 500px solid transparent;
	z-index: 3;
}

.parallelogram-left-bottom {
	position: absolute;
	left: -175px;
	width: 300px;
	height: 70%;
	margin-top: 30%;
	-webkit-transform: skew(35deg);
	-moz-transform: skew(35deg);
	-o-transform: skew(35deg);
	transform: skew(35deg);
	background: url("broken_noise.png");
	opacity: 0.95;
	z-index: 1;
}

.parallelogram-left-content {
	position: absolute;
	top: 5px;
	left: 10px;
	z-index: 3;
}

.parallelogram-left-content * {
	color: white;
	text-shadow: 1px;
}

.parallelograms-left-content img {
	max-width: 75px;
}




