html {
	height: 100%;
}

/* Landscape phones and down */
@media(max-width:767px){}

/* Landscape phone to portrait tablet */
@media(min-width:768px){}

/* Portrait tablet to landscape and desktop */
@media(min-width:992px){}

/* Large desktop */
@media(min-width:1200px){}

// THIS IS THE ROCKSTAGE FRAMEWORK FOR FRONT-END DESIGN
// THE FOLLOWING STYLES CAN BE USED GLOBALY THROUGHOUT THE WEBSITE


// FONTS & FONT Attributes ------------------------------------------------------------------
@font-face {
  font-family: 'GOTHIC';
  src: url('GOTHIC.eot?#iefix') format('embedded-opentype'),
       url('GOTHIC.ttf')  format('truetype'),
       url('GOTHIC.svg#svgFontName') format('svg');
}

h1 {
	font-size: 3.5em;
	font-weight: 100;
}

h2 {
	font-size: 2.5em;
	font-weight: 200;
}

h3 {
	font-size: 2em;
	font-weight: 400;
}

h4 {
	font-size: 1.5em;
	font-weight: 500;
}

a {
	font-weight: 100;
}

img {
	max-width: 100%;
}

// GLOBAL VARIABLES ----------------------------------------------------------------------

	// Backgrounds DUB
$background-color-light: #eee;
$background-color-dark: #141414;
$box-shadow: 0px 1px 5px #888888;
$box-shadow-inset: inset 0px 0px 10px black;

	// Fonts and colors DUB
$color-light: #eee;
$color-dark: #141414;
$color-cyan: #00ccff;
$color-red: red;

// 5 - 10 Shades of Gray
// Red, lighter red and darker red
// Cyan
// Ultra dark Cyan
// Link Blue

body {
	height: 100%;
	background-color: $background-color-light;
	color: $color-dark;
}



.content-light * {
	color: $color-dark;
	background-color: $background-color-light;
}

.content-dark {
	color: $color-light;
	background-color: $background-color-dark;
}









// FORMS ------------------

// Sign-in Page Container
.form {
	padding: 15px;
	margin: 0 auto;
	background-color: white;
	border-radius: 5px;
	border-bottom: 1px solid #d6d6d6;
	border-right: 1px solid #d6d6d6;
}

.form-signin {
	max-width: 330px;
	z-index: 3;
	@media(min-width:768px) {
		margin-top: 20%;
	}
}

.form-register {
	max-width: 660px;
	z-index: 3;
	@media(max-width:767px) {
		margin-top: 0;
	}
}

// controls is the div containing the input
.controls {
	> * {
	border-top: 1px solid #d6d6d6;
	border-left: 1px solid #d6d6d6;
	border-bottom: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	border-radius: 5px;
	background: #eee;
	&:hover, &:focus {
		background: #fcfcfc;
		}
	}
	abbr {
		display: none;
	}
}

.radio {
	.controls & {
		background: none;
		border: none;
		border-radius: 0;
		border-bottom: 1px solid $color-cyan;
		.radio-big & {
			padding: 30px;
			margin: 10px;
			font-size: 1.5em;
			font-weight: 300;
		}
		.radio-user-type & {
				padding: 20px 52px;
				margin: 5px;
				background-color: $background-color-light;
				border-radius: 3px 10px 3px 10px;
				box-shadow: $box-shadow;
				float: left;
			}
	}
}


// GLOBAL MIXINS -------------------------







.horizontalContainer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	.horizontalSlider {
		overflow-x: scroll;
		overflow-y: hidden;
		height: 100%;
		white-space: normal;
		-webkit-overflow-scrolling: touch;
		@media(max-width:767px) {
			// Mobile styles here
		}
		.horizontalContent {
			position: relative;
			left: 0;
			height: 100%;
			> * {
				border-sizing: border-box;
				float: left;
				height: 100%;
			}
		}
	}
}







ul.horizontalGridList {
	display: block;
	float: left;
	width: 360px;
	margin: 0;
	white-space: normal;
	column-gap: 0;
	column-width: 360px;
	-webkit-column-gap: 0;
	-webkit-column-width: 360px;
	-moz-column-gap: 0;
	-moz-column-width: 360px;
	list-style: none;
	padding: 0;
	li {
		column-break-inside: avoid;
		-webkit-column-break-inside: avoid;
		-moz-column-break-inside: avoid;
		margin: 0;
	}
}


// GLOBAL STYLES --------------------------

ul {list-style: none;}

#background-image {
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	@media(max-width:767px) {
		height: 150px;
		position: relative;
		top: -55px;
		box-shadow: $box-shadow-inset;
		.sign-in-page & {
			background-image: url('RSWelcomeM.png');
		}
		.sign-up-page & {
			background-image: url('backgrounds/sign-up-background3.jpg');
			background-position: center;
		}
	}

	@media(min-width:768px) {
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-position: center;
		.sign-in-page & {
			background-image: url('RSWelcome.png');
		}
		.sign-up-page & {
			background-image: url('backgrounds/sign-up-background3.jpg');
		}
	}
}

.container {
	z-index: 3;
}

// SHORTCUTS ---------------------------------------------------------------------------

// Font Sizes

.large {font-size: 5em;}

.bigger {font-size: 4em;}

h1.large {font-size: 5em;}

h2.large {font-size: 4em;}

.smaller {font-size: 0.8em;}

.ligher {font-weight: 100;}

.glyphicon {font-size: 1em;}

// Colors

.color-light {color: $color-light;}

.gray {color: gray;}

.black {color: black;}

.cyan {color: $color-cyan;}

.red {color: $color-red;}

hr.colorful-border {
	margin-top: 0;
	border: 1px solid #00ccff;
}

.colorful {
	color: #01d9c7;
}

// Box-Modeling

.center {margin: 0 auto;}

.no-side-padding {
	padding-left: 0;
	padding-right: 0;
}

.no-side-padding {
	h1, h2, h3, h4, h5, p, hr {
		padding-left: 15px;
		padding-right: 15px;
	}
}

// NAVIGATION ---------------------------------------------------------------------------
// GLOBALS

.ui-header {
	background: url('header_menu_bg.png') center no-repeat;
	height: 43px;
	.row {
		height: 42px;
		overflow-y: hidden;
		overflow-x: visible;
	}
}

// back-link menu-link

.heading_title {
	text-align: center;
	vertical-align: center;
	font-size: 0.37em;
	h1 {
		margin: 10px 0;
	}
}

.heading_player {
	text-align: center;
	vertical-align: center;
	margin: 6px 0 4px 0;
}

.heading_menu {
	padding: 18px 0 0 80px;

	a {
		font-size: 1.2em;
		color: #eee;
		text-decoration: none;
		padding: 0 5px;
		border-right: 1px solid gray;
	}
	a.back-link {
		.glyphicon {
			color: #eee;
			font-size: 0.8em;
		}
	}
}

.heading_left {
	position: absolute;
	top: 0;
	left: 0;
	width: 42px;
	height: 42px;
	z-index: 5;
	a {
		float: left;
		display: block;
		width: 41px;
		height: 41px;
		.glyphicon {
			font-size: 1.7em;
			padding: 8px 0 7px 5px;
			color: lighten(#202020, 40%);
		}
		&:hover {
			border-left: 3px solid #00ccff;
		}
	}
}

.heading_right {
	position: absolute;
	top: 0;
	right: 0;
	width: 42px;
	height: 42px;
	z-index: 5;
	a {
		float: right;
		display: block;
		width: 41px;
		height: 41px;
		.glyphicon {
			font-size: 1.7em;
			padding: 8px 5px 7px 0;
			color: lighten(#202020, 50%);
		}
		&:hover {
			border-right: 3px solid #00ccff;
		}
	}
}


// TABLET
@media(min-width:768px) and (max-width: 991px){

#tablet-nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 50px;
	height: 100%;
	overflow: hidden;
	z-index: 5;
	.content {
		width: 49px;
		height: 100%;
		background: #202020;
		ul {
			list-style-type: none;
			position: relative;
			height: 100%;
			margin: 0;
			padding: 80px 0 0 0;
			li {
				border-top: 1px solid #111;
				overflow: hidden;
				list-style-position: inside;
				width: 49px;
				&.bottom {
					position: absolute;
					bottom: 0;
				}
				a {
					float: left;
					display: block;
					width: 49px;
					height: 50px;
					cursor: pointer;
					background: #202020;
					overflow: hidden;
					border-top: 1px solid #333;
					text-decoration: none;
					&:hover, &.active {
						background: darken(#202020, 5%);
						border-left: 1px solid red;
					}
					.glyphicon {
						font-size: 1.7em;
						padding: 7px 12px 1px 12px;
						color: lighten(#202020, 30%);
					}
					p {
						text-align: center;
						color: gray;
						font-size: 0.7em;

					}
				}
			}
		}
	}
}

.ui-panel-content-wrap {
	padding-left: 49px;

}



.ui-footer {
	z-index: 4;
	padding-left: 49px;
}

.ui-mini {
	
}

}

// ANIMATIONS ------------------------------------------------------
a {
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
}





