<div class="content">
	<ul data-role="none">
		<% if user_signed_in? %>
		<li>
			<a href="" class="active"><span class="glyphicon glyphicon-home"></span><p>home</p></a>
		</li>
		<li>
			<a href=""><span class="glyphicon glyphicon-search"></span><p>browse</p></a>
		</li>
		<li>
			<a href=""><span class="glyphicon glyphicon-list"></span><p>charts</p></a>
		</li>
		<li>
			<a href=""><span class="glyphicon glyphicon-headphones"></span><p>discover</p></a>
		</li>
		<li class="bottom">
			<a href=""><span class="glyphicon glyphicon-user"></span><p>profile</p></a>
		</li>
		<% end %>
	</ul>
</div>