

<div data-enhance="false">
	<div class="heading_left">
		<a href="#sidebar"><span class="glyphicon glyphicon-align-left"></span></a>
	</div>

	<div class="row">
		<div class="heading_menu col-md-4 visible-md visible-lg">
			<%= yield :heading_menu %>
		</div>
		<div class="heading_player col-sm-6 col-md-4 hidden-xs">Now playing: Deftones - Change</div>
		<div class="heading_title col-xs-11 col-sm-6 col-md-4"><%= yield :heading_title %></div>
	</div>

	<div class="heading_right">
		<a href="#notifications"><span class="glyphicon glyphicon-bullhorn"></span></a>
	</div>

	
</div>

<div data-role="navbar">
  	<%= yield :subheading %>
</div>